body {
	background-image: url("space.jpg");
	background-width: 100%;
	background-height: 100%;
	text-align: center;

}

#title {
	color: white;
	font-family: "Courier New";
	font-size: 80px;
	

}

#homepage {
	/*background-color: #333333;
	width: 400px;
	height: 400px;
	margin: 0px 0px 0px 500px;*/
	text-align: center;
}

ul {
	list-style: none;
	color: white;
	font-size: 40px;
	font-family: Courier New;
	margin-top: 40px;
}

#beginGame {
	width: 400px;
	height: 50px;
	margin: 0px 0px 0px 475px;
	background-color: grey;
	border: 5px;
	border-color: black;
	text-align: center;

}

#howToPlay {
	width: 400px;
	height: 50px;
	margin: 10px 0px 0px 475px;
	background-color: grey;
	border: 10px;
	border-color: black;
	text-align: center;

}

#leaderboard {
	width: 400px;
	height: 50px;
	margin: 10px 0px 0px 475px;
	background-color: grey;
	border: 10px;
	border-color: black;
	text-align: center;

}


#gamepage {
	width: 1000px;
	height: 700px;
	margin-left: 200px;
	background-image: url("https://media.giphy.com/media/9bTjZrytydVRK/giphy.gif?response_id=592418bf9e04594a78220606");
	background-size: cover;
	border: 10px;
	border-color: black;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: "Courier New";

}

#quit {
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: "Courier New";
	border-width: 2px;
	border-color: black;
	background-color: grey;	

}

#ship {
	font-size: 80px;
	margin: 550px 0px 0px 0px;
}

img {
	width: 150px;
	height: 150px;
	position: relative;

}

.rocks {
	position: absolute;
}

#instructions {
	width: 800px;
	height: 800px;
	margin: -820px 0px 0px 300px;
	background-color: grey;
	border: 10px;
	border-color: black;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: "Courier New";

}

#scoreboard {
	width: 800px;
	height: 800px;
	margin: -840px 0px 0px 300px;
	background-color: grey;
	border: 10px;
	border-color: black;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: "Courier New";

}