body {
	background-image: url("space.jpg");
	background-width: 100%;
	background-height: 100%;
	text-align: center;

}

#title {
	color: white;
	font-family: "Courier New";
	font-size: 80px;

}

ul {
	list-style: none;
	margin-top: 40px;
	color: white;
	font-size: 40px;
	font-family: "Courier New";

}

#beginGame {
	width: 400px;
	height: 50px;
	margin: 0px 0px 0px 475px;
	background-color: grey;
	border-width: 5px;
	border-color: black;
	text-align: center;

}

#howToPlay {
	width: 400px;
	height: 50px;
	margin: 10px 0px 0px 475px;
	background-color: grey;
	border-width: 10px;
	border-color: black;
	text-align: center;

}

#leaderboard {
	width: 400px;
	height: 50px;
	margin: 10px 0px 0px 475px;
	background-color: grey;
	border-width: 10px;
	border-color: black;
	text-align: center;

}

#gamepage {
	width: 1000px;
	height: 700px;
	margin-left: 200px;
	background-image: url("https://media.giphy.com/media/peFJZc82UZ4iY/giphy.gif?response_id=5925650c4a83a33c59eec6c2");
	background-size: cover;
	border: 10px;
	border-color: black;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: "Courier New";

}

#quit {
	height: 30px;
	margin: 0px 0px 0px 800px;
	border-width: 2px;
	border-color: white;
	background-color: grey;	
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: "Courier New";
		
}

p {
	margin: -30px 0px 0px 20px;
	width: 80px;
	height: 30px;
	background-color: grey;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: "Courier New";

}

#XP {
	width: 240px;
	height: 30px;
	margin: -34px 0px 0px 110px;
	background-color: grey;
	border-style: solid;
	border-width: 2px;
	border-color: white;
		
}

#XP1 {
	width: 40px;
	height: 30px;
	margin: 0px 0px 0px 0px;
	background-color: red;
	display: absolute;
	
}

#XP2 {
	width: 40px;
	height: 30px;
	margin: -30px 0px 0px 40px;
	background-color: red;
	display: absolute;	
	
}

#XP3 {
	width: 40px;
	height: 30px;
	margin: -30px 0px 0px 80px;
	background-color: red;
	display: absolute;

}

#XP4 {
	width: 40px;
	height: 30px;
	margin: -30px 0px 0px 120px;
	background-color: red;
	display: absolute;

}

#XP5 {
	width: 40px;
	height: 30px;
	margin: -30px 0px 0px 160px;
	background-color: red;
	display: absolute;

}

#XP6 {
	width: 40px;
	height: 30px;
	margin: -30px 0px 0px 200px;
	background-color: red;
	display: absolute;	

}

#points {
	margin: -35px 0px 0px 410px;

}

#pts {
	margin: -34px 0px 0px 500px;

}

#ship {
	margin: 550px 0px 0px 0px;
	font-size: 80px;
	
}

#beam {
	width: 4px;
	height: 650px;
	margin: -755px 0px 0px 498px;
	background-color: red;
	border-style: solid;
	border-radius: 5px; 

}

img {
	width: 150px;
	height: 150px;
	position: absolute;

}

.rocks {
	position: absolute;

}

#instructions {
	width: 800px;
	height: 600px;
	margin: -730px 0px 0px 300px;
	background-color: grey;
	border: 10px;
	border-color: black;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: "Courier New";

}

#instructions li {
	list-style-type: circle;
	margin: 0px 20px 30px 0px;
	text-align: justify;
	color: white;
	font-size: 20px;
	font-family: "Courier New";
		
}

#home {
	margin: 50px 0px 0px 0px;
	height: 30px;
	background-color: grey;
	border-width: 2px;
	border-color: white;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: "Courier New";	
	
}

#scoreboard {
	width: 800px;
	height: 800px;
	margin: -820px 0px 0px 300px;
	background-color: grey;
	border: 10px;
	border-color: black;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: "Courier New";

}