body {
	background-image: url("space.jpg");
	background-width: 100%;
	background-height: 100%;
	
}

#title {
	color: white;
	font-family: Courier New;
	font-size: 80px;
	text-align: center;


}

#homepage {
/*	background-color: #333333;
	width: 400px;
	height: 400px;
	margin: 0px 0px 0px 500px;*/

}

ul {
	list-style: none;
	color: white;
	font-size: 40px;
	font-family: Courier New;
	text-align: center;
	margin-top: 40px;
}

.button {
	width: 400px;
	height: 100px;
	margin: 0px 0px 0px 475px;

}

#gamepage {

}

#instructions {

}

#leaderboard {

}